*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.navbar-brand {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	color: black;
}
.navbar-brand:hover{
	color: black;
}
.nav-link{
	margin-right: 10px;
	margin-left: 10px;
	color:  black;
	text-transform: uppercase;
}
.nav-link:hover{
	color: darkgrey;
	
}
.search{
	height:  40px;
	width:  80%;
	font-family: 'Poppins', sans-serif;
	border-radius: 60px;
	margin-right: -35px;
	outline:  none;
	border:  1px solid rgb(10, 118, 220);
}
.btn{
	height: 40px;
	width: 40%;
	font-family: 'Poppins', sans-serif;
	outline:  none;
	border:  none;
	background :rgb(10, 118, 220);
	color:  white;
	font-weight: 700;
	border-radius: 60px;
}
.main{
	background-image:url(/img/linus-nylund-At_r0TuqL8o-unsplash.jpg);
	background-size: cover;
	height:  100vh;
	width: 100%;
	background-position:50% 50%;
}
.main h1{
	font-size: 4rem;
	font-weight: 700;
	color: rgba(252, 252, 252, 0.987);
	font-family:'Poppins', sans-serif;
}
h5{
	font-family: 'Poppins', sans-serif;
	color: rgb(5, 68, 131);
	font-weight: 900;
}
p{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	color:rgb(4, 143, 32);
}
.ask{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	color:whitesmoke;

}
.mission {
	color:rgba(4,143,32,0.75);
	font-size:2rem;
	font-family: 'Kumbh Sans', sans-serif;;

}
h1{
	font-size: 4rem;
	font-weight: 700;
	font-family:'Poppins', sans-serif;
}
.btn1{
	height: 45px;
	width: 35%;
	border: none;
	outline:none;
	background-color:rgb(3, 95, 21) ;
	color: white;
	font-weight: 700;
	border-radius: 60px;
}
.btn1:hover{
	background-color:rgb(4, 143, 32);
	height: 48px;
	width: 39%;
	font-size:18px;
	transition:0.5s;

	
}
.product {
	background: #006fff;
	background: linear-gradient(90deg,#00A296 0%, #ffffff 80%);
	background: -webkit-linear-gradient(90deg,#00A296 0%, #ffffff 80%);
	background: -moz-linear-gradient(90deg,#00A296 0%, #ffffff 80%);
}
.card:hover{
	box-shadow: 2px -1px 26px 0px rgba(4,143,32,0.75);
	-webkit-box-shadow: 2px -1px 26px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px -1px 26px 0px rgba(9, 148, 33, 0.679);
	transition: 0.5s;
}