*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar-brand {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	color: black;
}
.navbar-brand:hover{
	color: black;
}
.nav-link{
	margin-right: 10px;
	margin-left: 10px;
	color:  black;
	text-transform: uppercase;
}
.nav-link:hover{
	color: darkgrey;
	
}
/* .dropdown-menu {
}*/
.search{
	height:  40px;
	width:  80%;
	font-family: 'Poppins', sans-serif;
	border-radius: 60px;
	margin-right: -35px;
	outline:  none;
	border:  1px solid rgb(4, 143, 32);
}
.btn{
	height: 40px;
	width: 40%;
	font-family: 'Poppins', sans-serif;
	outline:  none;
	border:  none;
	background :rgb(4, 143, 32);
	color:  white;
	font-weight: 700;
	border-radius: 60px;
}
.main{
	background-image:url(/img/linus-nylund-At_r0TuqL8o-unsplash.jpg);
	background-size: cover;
	height:  100vh;
	width: 100%;
	background-position:50% 50%;
}
.main h1{
	font-size: 4rem;
	font-weight: 700;
	color: rgba(252, 252, 252, 0.987);
	font-family:'Poppins', sans-serif;
}
.aboutus{
	background-image:url(https://www.publicdomainpictures.net/pictures/200000/nahled/plain-blue-background.jpg);
	background-size: cover;
	width:100%;
	background-position: 50% 50%;
}
h5{
	font-family: 'Poppins', sans-serif;
	color: rgb(10, 118, 220);
	font-weight: 900;
}
h2{
	font-family: 'Poppins', sans-serif;
	color: black;
	font-weight: 900;
}
.accordion-button{
	color: black;
	font-weight: bold;
}


p{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	color:rgb(4, 143, 32);
}
.ask{
	font-family: 'Poppins',sans-serif;
	font-weight: 700;
	color:whitesmoke;

}
.mission {
	color:rgba(4,143,32,0.75);
	font-size:2rem;
	font-family: 'Kumbh Sans', sans-serif;;

}
h1{
	font-size: 4rem;
	font-weight: 700;
	font-family:'Poppins', sans-serif;
}
.btn1{
	height: 45px;
	width: 35%;
	border: none;
	outline:none;
	background-color:rgb(3, 95, 21) ;
	color: white;
	font-weight: 700;
	border-radius: 60px;
}
.btn1:hover{
	background-color:rgb(4, 143, 32);
	height: 48px;
	width: 39%;
	font-size:18px;
	transition:0.5s;
	box-shadow: 2px -1px 26px 0px rgba(4,143,32,0.75);
-webkit-box-shadow: 2px -1px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -1px 26px 0px rgba(9, 148, 33, 0.679);
	
}
.product {
	background: #006fff;
	background: linear-gradient(90deg,#00A296 0%, #ffffff 80%);
	background: -webkit-linear-gradient(90deg,#00A296 0%, #ffffff 80%);
	background: -moz-linear-gradient(90deg,#00A296 0%, #ffffff 80%);
}
.card:hover{
	box-shadow: 2px -1px 26px 0px rgba(4,143,32,0.75);
	-webkit-box-shadow: 2px -1px 26px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px -1px 26px 0px rgba(9, 148, 33, 0.679);
	transition: 0.5s;
}
footer{
	background-color:black
}
.contact_form{
	border: #006fff;
	border-width: 1px;
}
.about_us {
	background-image:url(https://www.publicdomainpictures.net/pictures/200000/nahled/plain-blue-background.jpg);
	background-size: cover;
	width:100%;
	background-position: 50% 50%;
}
.des {
	font-size: 2rem;
}
.des_1 {
	font-size: 2rem;
	color: whitesmoke;
}
li {
	font-size: 1.5rem;
	color: #fff;
	font-family: inherit;
	
}
.faq {
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	color:white;
	text-decoration: none;
}
.faq:hover{
	font-size: 3rem;
	color:white;
	transition: 0.5s;
}
.faq_li {
	font-size: 1rem;
	color: black;
	font-family: inherit;
}
.site-footer {
	background: #00A296;
	padding:45px 0 20px;
	font-size:15px;
	line-height:24px;
	color:whitesmoke;
	font-family:'Poppins' sans-serif;
	text-decoration: none;
  }
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.h6{
	font-family: 'Poppins' sans-serif;
	font-size:2-rem;
	color:blue;
}





