*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.navbar-brand {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	color: black;
}
.navbar-brand:hover{
	color: black;
}
.nav-link{
	margin-right: 10px;
	margin-left: 10px;
	color:  black;
	text-transform: uppercase;
}
.nav-link:hover{
	color: darkgrey;
	
}
.search{
	height:  40px;
	width:  80%;
	font-family: 'Poppins', sans-serif;
	border-radius: 60px;
	margin-right: -35px;
	outline:  none;
	border:  1px solid rgb(10, 118, 220);
}
.btn{
	height: 40px;
	width: 40%;
	font-family: 'Poppins', sans-serif;
	outline:  none;
	border:  none;
	background :rgb(10, 118, 220);
	color:  white;
	font-weight: 700;
	border-radius: 60px;
}
.main{
	background-image:url(/img/linus-nylund-At_r0TuqL8o-unsplash.jpg);
	background-size: cover;
	height:  100vh;
	width: 100%;
	background-position:50% 50%;
}
.main h1{
	font-size: 4rem;
	font-weight: 700;
	color: rgba(252, 252, 252, 0.987);
	font-family:'Poppins', sans-serif;
}
.btn1{
	height: 45px;
	width: 35%;
	border: none;
	outline:none;
	background-color:rgb(3, 95, 21) ;
	color: white;
	font-weight: 700;
	border-radius: 60px;
}